<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kemne jabo! About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="navbar" id="bg-dark">
       <a href="/"><img src="{{ url_for('static', filename='image5.png') }}" alt="logo" height="100px" class="logo"></a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a class="current" href="#">About</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="contact">Contact us</a></li>
                <li><a href="/signup">Sign up</a></li>
                <li><a href="/login">Log in</a></li>
            </ul>
        </nav>
    </div>
    <div id="about">
        <h1>About</h1>
        <br>
        <p>Travelling is common for all of us. However, we always don't know all the information about a
            place we want to go to. Sometimes we want to go somewhere, but we don’t know which
            transportation would be the best for us or worse we even don’t know the fare and some people
            take advantage of that. Sometimes, we all
            wish that we had some kind of information before going somewhere unknown. That’s where our
            product is helpful. Our final product will be a website where all this information will be available. Here
            users have
            to sign in for their account. Users will enter a starting place and a destination, and our software
            will lead him/her through the shortest and easiest path. A user can both give and receive
            information about the desired destination they are looking for. A user can see the information
            that already exists, or they can even ask new queries. They can rate the information whether it
            was helpful or not. When a user is giving information then their interface will switch to guide
            mode. In the guide mode, users can answer queries. For every ‘helpful’ rating, the guide earns
            10 points. When a guide reaches 10,000 points, they can withdraw the points as real money;
            (here for 10,000 points they will get 100 takas). Users can also update their personal
            information in their profiles. Both user and guide can report their problems so that the admin can solve the
            bug or issues
            that they are facing.</p>
    </div>
</body>
<footer id="main-footer">
    <p>kemne jabo! &copy; 2021 All rights reserved</p>
</footer>

</html>