<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kemne jabo! Profile</title>
    <link rel="stylesheet" href="/style.css" />
    <script src="https://kit.fontawesome.com/cde6add5aa.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="navbar" id="bg-dark">
        <a href="#"><img src="/image5.png" alt="logo" height="100px" class="logo" /></a>
        <nav id="bottom">
            <ul>
                <li><i class="fas fa-bell"></i></li>
                <span class="src-bar">
                    <li><a href="/search.html"><i class="fas fa-search">&nbsp;&nbsp;&nbsp;Search</i></a></li>
                </span>
                <span class="guide-bar hidden">
                    <li>
                      <a href="/contribute.html"> <i class="fas fa-directions">&nbsp;&nbsp;&nbsp;Contribute</i></a> 
                    </li>
                </span>
                <li><a href="/faq.html">FAQ</a></li>
                <li><a href="/index.html">Log Out</a> </li>
                
            </ul>
        </nav>
    </div>
    <div id="edit-bg">
        <form class="edbox" action="login.html" method="POST">
            <h1>
                Profile Edit:
            </h1>
            <p>Information</p>
            <input type="text" name="" placeholder="Email" id="username"> &nbsp; 
            <input type="text" name="" placeholder="First Name" id="username"> &nbsp; 
            <input type="text" name="" placeholder="Last Name" id="username"> &nbsp;
            <input type="text" name="" placeholder="Mobile" id="username"> &nbsp;
            <p>Address</p>
            <input type="text" name="" placeholder="House" id="username"> &nbsp;
            <input type="text" name="" placeholder="Street" id="username"> &nbsp;
            <input type="text" name="" placeholder="Thana" id="username"> &nbsp;
            <input type="text" name="" placeholder="District" id="username"> &nbsp;
            <input type="text" name="" placeholder="Postal Code" id="username"> &nbsp;
            <p>Password</p>
            <input type="password" name="" placeholder="Enter Password" id="password"> &nbsp;
            <input type="password" name="" placeholder="Confirm Password" id="password"> &nbsp;
            <p>Security Questions</p>
            <div id="security">
                <input type="text" name="" placeholder="Type your security question in case you forget your password"
                    id="question"> &nbsp;&nbsp;
                <input type="text" name="" placeholder="Enter your answer" id="answer"> &nbsp;
                <input type="text" name="" placeholder="Enter your hint" id="hint"> &nbsp;
                <br><br><br>
                <button type="submit" class="btn">Save</button>
                <br><br><br>
            </div>
        </form>
    </div>

</body>
<footer id="main-footer">
    <p>kemne jabo! &copy; 2021 All rights reserved</p>
</footer>

</html>