<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kemne jabo! About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/cde6add5aa.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="navbar" id="bg-dark">
        <a href="/profile"><img src="{{ url_for('static', filename='image5.png') }}" alt="logo" height="100px" class="logo"></a>
        <nav>
            <ul>
                <li><i class="fas fa-bell"></i></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/report">Help</a></li>
                <li><a href="/logout">Log Out</a> </li>
            </ul>
        </nav>
    </div>
    <div id="faq-bg">
        <div>
            <h1>Informations</h1>
            <br>
            <h2> {{ msg }} </h2>
            <div class="info-box">
                {% for acc in account: %}
                    <div class="inf">
                        <p>
                            From: {{ acc['start_pos'] }}&emsp;&emsp;To: {{ acc['destination'] }}&emsp;&emsp;
                            Transport: {{ acc['transport'] }}&emsp;&emsp;Fare: {{ acc['lower_range'] }}&nbsp;-&nbsp;{{ acc['higher_range'] }}
                            Taka&emsp;&emsp;Guide: {{ acc['first_name'] }} {{ acc['last_name'] }}
                        </p>
                    </div>
                    <br>
                {% endfor %}
            </div>
            <form action="/info/{{ start }}/{{ end }}" method="POST">
                <div class="query">
                    <label for="button">Couldn't find what you are looking for?</label>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <button type="submit" class="btn" id="button"> Add to Query </button>
                </div>
            </form>
        </div>
    </div>
</body>

<footer id="main-footer">
    <p>kemne jabo! &copy; 2021 All rights reserved</p>
</footer>

</html>