<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>kemne jabo! Profile</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    <script src="https://kit.fontawesome.com/cde6add5aa.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="navbar" id="bg-dark">
        <a href="/"><img src="{{ url_for('static', filename='image5.png') }}" alt="logo" height="100px" class="logo"></a>
        <nav >
            <ul>
                <li><i class="fas fa-bell"></i></li>
                <span class="src-bar">
                    <li><a href="/search"><i class="fas fa-search">&nbsp;&nbsp;&nbsp;Search</i></a></li>
                </span>
                <span class="guide-bar hidden">
                    <li>
                        <a href="/contribute"><i class="fas fa-directions">&nbsp;&nbsp;&nbsp;Contribute</i></a>
                    </li>
                </span>
                <li><a href="/report">Help</a></li>
                <li><a href="/logout">Log Out</a> </li>
                <li>
                    <div id="switch">
<!--                        <button onclick="myfunct()" type="submit" ></button>-->
<!--                        <form action="{{ url_for('profile') }}" method="POST">-->
                        <input class="guide" name="checkbox" type="checkbox" id="checkbox" value="1" onclick="myfunct1()" />
                        <label for="checkbox">a</label>
<!--                        </form>-->
                    </div>
                </li>
            </ul>
        </nav>
    </div>

    <div id="profile">
        <div class="inside">
            <h1> {{ who }} Information</h1>
        <p>Name: {{ name }} </p>
        <p>Email: {{ email }} </p>
        <p>Phone Number: {{ phone }} </p>
        <p>Location: {{ address }} </p>
        <span class="point hidden">
            <p>Point: {{ point }} </p>
        </span>
        <!--hidden class added-->
        <span class="balance hidden">
            <p>Balance: {{ balance }} </p>
        </span>
        <span class="withdraw hidden">
            <p>Can Withdraw: {{ withdraw }} </p>
        </span>
        <!--hidden class added-->
        </div>
    </div>
</body>

<footer id="main-footer">
    <p>kemne jabo! &copy; 2021 All rights reserved</p>
</footer>

<script src="{{ url_for('static', filename='project.js') }}"></script>

</html>