<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kemne jabo! Forgot PW</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class=" navbar" id="bg-dark">
        <a href="/"><img src="{{ url_for('static', filename='image5.png') }}" alt="logo" height="100px" class="logo"></a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a href="/contact">Contact us</a></li>
                <li><a href="/signup">Sign up</a></li>
                <li><a href="/login">Log in</a></li>
            </ul>
        </nav>
    </div>
    <div id="forgot-bg">
        <form id="security" class="sobox" action="/recover/{{ idd }}" method="POST">
            <span class="msg hidden"></span>
            <h2 >{{ msg }}</h2>
            </span>
            <h1>
                Forgot your password?
            </h1>
            <p>Your Email id is: {{ email }} </p>
            <p>Your security question is: {{ ques }} </p>
            <p>Your hint is: {{ hint }} </p>
            <input type="text" name="answer" placeholder="Enter your answer" id="answer"> &nbsp;&nbsp;
            <h1>Change your Password</h1>
            <input type="password" name="Password" placeholder="Enter Password" id="Password"> &nbsp;&nbsp;
            <input type="password" name="Confirm" placeholder="Confirm Password" id="Confirm">&nbsp;&nbsp;
            <br><br><br>
            <button onclick="myfunct2()" type="submit" class="btn">Submit</button>
        </form>
    </div>
</body>
<footer id="main-footer">
    <p>kemne jabo! &copy; 2021 All rights reserved</p>
</footer>

<script src="{{ url_for('static', filename='project.js') }}"></script>

</html>