<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kemne jabo! About</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/cde6add5aa.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="navbar" id="bg-dark">
        <a href="#"><img src="/image5.png" alt="logo" height="100px" class="logo"></a>
             <nav id="bottom">
            <ul>
                <li><i class="fas fa-bell"></i></li>
                <span class="src-bar">
                    <li><i class="fas fa-search">&nbsp;&nbsp;&nbsp;Search</i></li>
                </span>
                <span class="guide-bar hidden">
                    <li>
                        <i class="fas fa-directions">&nbsp;&nbsp;&nbsp;Contribute</i>
                    </li>
                </span>
                <li><a href="/faq.html">FAQ</a></li>
                <li><a href="/index.html">Log Out</a> </li>

            </ul>
        </nav>
    </div>

    </div>
    <div id="search-bg">
        <form class=" lobox" action="login.html" method="POST">
            <h1>
                kemne jabo
            </h1>
            <br>
            <input type="text" name="" placeholder="From" id="username">
            <input type="text" name="" placeholder="To" id="username">
            <button type="submit" class="btn">Khujo</button>     
        </form>
    </div>
</body>

<footer id="main-footer">
    <p>kemne jabo! &copy; 2021 All rights reserved</p>
</footer>



</html>