<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kemne jabo! Login</title>
    <link rel="stylesheet" href="style.css">
</head>

<body >
    <div class=" navbar" id="bg-dark">
    <a href="/index.html"><img src="/image4.png" alt="logo" height="100px" class="logo"></a>
    <nav>
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/message.html">Message</a></li>
            <li><a href="/Searcher.html">Searcher</a></li>
            <li><a href="/Guide.html">Guide</a></li>
            <li><a class="current" href="/admin_log.html">log out</a></li>
        </ul>
    </nav>
    </div>
    <div id="profile">
        <h1>Information</h1>
        <p>Name: </p>
        <p>Email: </p>
        <p>Phone Number: </p>
        <p>Location: </p>
        <button type="button" class="btn">Edit Profile</button>
    </div>
</body>

<footer id="main-footer">
    <p>kemne jabo! &copy; 2021 All rights reserved</p>
</footer>

</html>