<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kemne jabo! Contact Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://kit.fontawesome.com/cde6add5aa.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="navbar" id="bg-dark">
        <a href="/"><img src="{{ url_for('static', filename='image5.png') }}" alt="logo" height="100px" class="logo"></a>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/faq">FAQ</a></li>
                <li><a class="current" href="#">Contact us</a></li>
                <li><a href="/signup">Sign up</a></li>
                <li><a href="/login">Log in</a></li>
            </ul>
        </nav>
    </div>
    <section id="contact-form">
        <div class="contact">
            <h1 class="l-heading"> Contact Us</h1>
            <p>Please fill out the form below to contact us</p>
            <form action="  ">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" name="name" id="name">
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="email">
                </div>
                <div class="form-group">
                    <label for="message">Message</label>
                    <textarea name="message" id="message"></textarea>
                </div>
                <button class="btn"> Submit</button>
            </form>
        </div>
    </section>
    <section id="bg-dark">
        <div class="contact">
            <div class="box">
                <i class="fas fa-hotel fa-3x"></i>
                <h3>Location</h3>
                <br>
                <p>Mirpur, Dhaka.</p>
            </div>
            <div class="box">
                <i class="fas fa-phone fa-3x"></i>
                <h3>Mobile Number</h3>
                <br>
                <p>(+88) 01674915022</p>
            </div>
            <div class="box">
                <i class="fas fa-envelope fa-3x"></i>
                <h3>Email</h3>
                <br>
                <p>abc@def.com</p>
            </div>
        </div>
    </section>
    <div class="clear"></div>
</body>
<footer id="main-footer">
    <p>kemne jabo! &copy; 2021 All rights reserved</p>
</footer>

</html>