<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kemne jabo! About</title>
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/cde6add5aa.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="navbar" id="bg-dark">
        <a href="#"><img src="/image5.png" alt="logo" height="100px" class="logo"></a>
             <nav id="bottom">
            <ul>
                <li><i class="fas fa-bell"></i></li>
                <span class="src-bar">
                    <a href="/contribute.html"> <i class="fas fa-directions">&nbsp;&nbsp;&nbsp;Contribute</i></a> 
                </span>
                <span class="guide-bar hidden">
                    <li>
                        <i class="fas fa-directions">&nbsp;&nbsp;&nbsp;Contribute</i>
                    </li>
                </span>
                <li><a href="/faq.html">FAQ</a></li>
                <li><a href="/index.html">Log Out</a> </li>

            </ul>
        </nav>
    </div>

    </div>
    <div id="con-bg">
        <form class="sobox" action="login.html" method="POST">
            <h1>
                Contribution
            </h1>
            <p>Kemne jabe</p>
            <input type="text" name="" placeholder="How to go?" id="username"> &nbsp; &nbsp;
            
            <p>Medium</p>
            <input type="text" name="" placeholder="meduim 1" id="username"> &nbsp;&nbsp;
            <input type="text" name="" placeholder="medium 2" id="username"> &nbsp;&nbsp;
            <input type="text" name="" placeholder="medium 3" id="username"> &nbsp;&nbsp;
            <p>Fair</p>
            <input type="text" name="" placeholder="High fair,low fair" id="username"> &nbsp;&nbsp;
            <input type="text" name="" placeholder="High fair,low fair" id="username"> &nbsp;&nbsp;
            <input type="text" name="" placeholder="High fair,low fair" id="username"> &nbsp;&nbsp;
            <br><br><br>
                <button type="submit" class="btn">Register</button>
            </div>
        </form>
    </div>
            
            
</body>

<footer id="main-footer">
    <p>kemne jabo! &copy; 2021 All rights reserved</p>
</footer>



</html>