<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kemne jabo! Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body ">
    <div class=" navbar" id="bg-dark">
    <a href="/"><img src="{{ url_for('static', filename='image5.png') }}" alt="logo" height="100px" class="logo"></a>
    <nav>
        <ul>
            <li><a href="/index">Home</a></li>
            <li><a href="about">About</a></li>
            <li><a href="/contact">Contact us</a></li>
            <li><a href="/signup">Sign up</a></li>
            <li><a class="current" href="/login">Log in</a></li>
        </ul>
    </nav>
    </div>
    <div id="login-bg">
        <form class=" lobox" action="{{ url_for('login') }}" method="POST">
            <span class="msg hidden"></span>
                <h2 >{{ msg }}</h2>
            </span>
            <h1>
                Log in
            </h1>
            <br>
            <input type="text" name="Email" placeholder="Enter Username" id="Email">
            <input type="password" name="Password" placeholder="Enter Password" id="Password">
            <!-- <button type="submit" class="btn">Login</button> -->
            <button onclick="myfunct2()" type="submit" class="btn">Submit</button>
            <br> <br> <br>
            <a id="fgpw" href="/login">Forgot your password?</a>
        </form>
    </div>

</body>

<footer id="main-footer">
    <p>kemne jabo! &copy; 2021 All rights reserved</p>
</footer>

<script src="{{ url_for('static', filename='project.js') }}"></script>

</html>